<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_meta_and_link') %>
    <title>URL Record - TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main>
      <div class="card text-center">
          <div class="card-header"></div>
          <div class="card-body">
            <h5 class="card-title">TinyURL for: <%= URLObject.longURL %></h5>
            <p class="card-text">Short URL (click&nbsp;to&nbsp;visit): <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
            <h5 class="card-title">Edit:</h5>
            <p>
              <form method = "POST" action = "/urls/<%= shortURL %>/update">
                <input name="longURL" id="longURL" value="<%= URLObject.longURL %>">
                <button type="submit">Update</button>
              </form>
            </p>
          </div>
        <div class="card-footer text-muted"></div>
      </div>
    </main>
    <%- include('partials/_scripts') %>
    <script>
      if (urlParam('edit')) {
        cursorToEndOfInput("#longURL");
      }
    </script>
  </body>
</html>